* {
    box-sizing: border-box;
}


.cuerpo {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "aside header   header   header"
        "aside mainMenu mainMenu mainMenu"
        "aside mainMenu mainMenu mainMenu"
        "aside mainMenu mainMenu mainMenu"
        "aside mainMenu mainMenu mainMenu";
}


.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #1992d4;
    color: white;
}
.aside__logo{
    font-size: 1.2rem;
    padding: 1rem 1rem 0rem 0rem;
    font-weight: bold;
}
.logo__svg{
    width: 2.5rem;
    margin: .5rem;
    vertical-align: middle;
}
.icon{
    vertical-align: middle;
}
.icon path{
    fill: currentColor;
}
.item__icon{
    width: 1.5rem;
    margin: .5rem 1rem;
}
.header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:
    "search search profileMin"
    "profileFull profileFull postButtons"
    "profileFull profileFull postButtons";
    background-color: white;
    box-shadow: -2px 2px 10px 2px black;
    padding: 1.5rem 1rem;
    padding-bottom: 0;
}
.header__search{
    grid-area: search;
    /* padding: 1.5rem 0rem 0 1.2rem; */
}
.search__btn{
    width: 2.5rem;
    border: none;
    background-color: #0000;
}
.seach__input{
    width: 85%;
    background-color: #E2E8F0;
    outline: none;
    border: none;
    padding: .7rem;
    border-radius: 20px;
}

.header__profileMin{
    grid-area: profileMin;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.profileMin__bell{
    width: 2rem;
}
.profileImage{
    background-color: rgb(250, 181, 32);
    color:white;
    border-radius: 50%;
}
.profileMin__profileImage{
    width: 3rem;
}

.header__profile{
    grid-area: profileFull;
    /* border: 1px red solid; */
    display: flex;
    align-items: center;
}
.header__profileImage{
    width: 12%;
    max-width: 50px;
    padding: .5rem;
    margin: 1rem;
}
.header__profileText , .profileMin__userName{
    font-weight: bold;
}
.profileText__greetings{
    font-size: .8rem;
    padding: .5rem 0rem;
}
.profileText__userName{
    font-size: 1.2rem;
}

.postButtons{
    grid-area: postButtons;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn{
    background-color: #1992d4;
    border: none;
    padding: .5rem 1.2rem;
    color: white;
    border-radius: 20px;
}
.mainDashboard {
    grid-area: mainMenu;
    display: grid;

    padding: 1rem;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    "projects projects announcements"
    "projects projects announcements"
    "projects projects trending"
    "projects projects trending";

    background-color: #e2e8f09d;
    gap: 20px;
}

.title{
    font-weight: bold;
    margin: .5rem 0;
}

.mainDashboard__projetcs{
    grid-area: projects;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.projects__projectCard{
    background-color:white;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 0;
    width: 48%;
    height: 20vh;
    max-height: 250px;
    padding-left: 2rem;
    box-shadow: inset 10px 0px orange;
}

.card__title, .detail__Name{
    font-weight: bold;
}

.card__decription{
    margin-top: 1rem;
    font-size: .8rem;
    color: #7B7B7B;
    height: 50%;
}

.card__buttonsBox{
    /* margin-top: 4rem; */
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 10px;
}
.card__btn{
    width: 20px;
    align-items: end;
}

.mainDashboard__announcements{
    grid-area: announcements;
}

.announcementsCard, .trendingCard{
    background-color: white;
    padding: 1rem;
    border-radius: 20px;;
}

.announcement__title{
    font-size: .8rem;
}

.announcement__description{
    font-size: .6rem;
    color: #7B7B7B;
}

.separator{
    height: 1px;
    width: 100%;
    margin: .5rem auto;
    background-color: rgba(0, 0, 0, 0.226);
}
.mainDashboard__trending{
    grid-area: trending;
}

.trendingCard__user{
    display: flex;
    align-items: center;
}
.trendingProfileImage{
    width: 30px;
    margin: 0.7rem 1rem ;
}
.detail__app{
    margin-top: .2rem;
    color: #7B7B7B;
}

.card{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.247);
}